@charset "UTF-8";
body {
  width: 100%;
  height: 100%; }

html {
  width: 100%;
  height: 100%; }

@-webkit-keyframes mymove {
  0% {
    -webkit-transform: rotate(0deg);
    -o-transition: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0rem; }
  25% {
    -webkit-transform: rotate(90deg);
    -o-transition: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    left: 10rem; }
  50% {
    -webkit-transform: rotate(180deg);
    -o-transition: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    left: 20rem; }
  75% {
    -webkit-transform: rotate(270deg);
    -o-transition: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
    left: 30rem; }
  100% {
    -webkit-transform: rotate(360deg);
    -o-transition: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    left: 40rem; } }

@-moz-keyframes mymove {
  0% {
    -webkit-transform: rotate(0deg);
    -o-transition: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0rem; }
  25% {
    -webkit-transform: rotate(90deg);
    -o-transition: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    left: 10rem; }
  50% {
    -webkit-transform: rotate(180deg);
    -o-transition: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    left: 20rem; }
  75% {
    -webkit-transform: rotate(270deg);
    -o-transition: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
    left: 30rem; }
  100% {
    -webkit-transform: rotate(360deg);
    -o-transition: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    left: 40rem; } }

@-o-keyframes mymove {
  0% {
    -webkit-transform: rotate(0deg);
    -o-transition: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0rem; }
  25% {
    -webkit-transform: rotate(90deg);
    -o-transition: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    left: 10rem; }
  50% {
    -webkit-transform: rotate(180deg);
    -o-transition: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    left: 20rem; }
  75% {
    -webkit-transform: rotate(270deg);
    -o-transition: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
    left: 30rem; }
  100% {
    -webkit-transform: rotate(360deg);
    -o-transition: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    left: 40rem; } }

@keyframes mymove {
  0% {
    -webkit-transform: rotate(0deg);
    -o-transition: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0rem; }
  25% {
    -webkit-transform: rotate(90deg);
    -o-transition: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    left: 10rem; }
  50% {
    -webkit-transform: rotate(180deg);
    -o-transition: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    left: 20rem; }
  75% {
    -webkit-transform: rotate(270deg);
    -o-transition: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
    left: 30rem; }
  100% {
    -webkit-transform: rotate(360deg);
    -o-transition: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    left: 40rem; } }

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */
@media (min-width: 300px) {
  nav {
    background: #000;
    text-align: center;
    height: 5rem;
    font-family: 'PT Sans Narrow', sans-serif;
    line-height: 5rem;
    z-index: 1000;
    width: 100%; }
    nav a {
      text-decoration: none;
      color: #fff;
      margin-left: 2rem;
      font-size: 2.25rem; }
      nav a:hover {
        color: #c3c3c3; }
  .picture-container {
    position: relative;
    height: 600px; }
    .picture-container img {
      position: absolute;
      height: 600px;
      width: auto;
      border-radius: 90px;
      -moz-border-radius: 90px;
      -webkit-border-radius: 90px;
      left: -2rem;
      top: 2rem;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out; }
      .picture-container img.top:hover {
        opacity: 0; }
  .experience, .contact {
    margin-top: 5rem; }
  .job.-company {
    cursor: pointer; }
  .job.-toggle {
    margin-left: 1rem; }
  .job.-languages {
    opacity: 0;
    background: transparent;
    position: relative;
    overflow: visible;
    border: none;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
    .job.-languages.show {
      opacity: 1; }
  .profileThree {
    width: 100px;
    height: 100px;
    margin-bottom: 2rem;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("/app/images/profilethree.jpg"); }
  .linkedIn {
    font-size: 3.5rem; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  /* STYLES GO HERE */
  .picture-container {
    height: 500px; }
    .picture-container img {
      width: 300px;
      height: 500px;
      left: -8px; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* STYLES GO HERE */
  .picture-container img {
    left: 0rem; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  /* STYLES GO HERE */
  .picture-container {
    height: 600px; }
    .picture-container img {
      width: auto;
      height: 600px;
      left: -2rem; } }

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  nav {
    position: fixed;
    top: 0; }
  .section {
    padding: 22rem 0;
    font-family: 'Raleway', sans-serif; }
  .intro {
    padding: 5rem 0; }
    .intro .about {
      margin-top: 12rem; }
    .intro .paragraph {
      text-align: center; }
      .intro .paragraph h2, .intro .paragraph h4 {
        margin-bottom: 0.25rem; }
      .intro .paragraph hr {
        border-top: 4px solid #666;
        margin: 0 10rem; }
    .intro .subscript {
      margin-top: 1rem;
      margin-bottom: -1.5rem;
      font-size: 2rem; }
    .intro .introduction {
      font-size: 1.5rem; }
    .intro .picture-container {
      text-align: center; }
  .experience {
    /*background: -webkit-linear-gradient(141deg, rgba(15, 184, 173, 1) 0%, rgba(31, 200, 219, 1) 51%, rgba(255,0,0,0));
        background: -o-linear-gradient(141deg, rgba(15, 184, 173, 1), rgba(31, 200, 219, 1) 51%, rgba(255,0,0,0));
        background: -moz-linear-gradient(141deg, rgba(15, 184, 173, 1) 0%, rgba(31, 200, 219, 1) 51%, rgba(255,0,0,0)); 
        background: linear-gradient(141deg, rgba(15, 184, 173, 1) 0%, rgba(31, 200, 219, 1) 51%,rgba(255,0,0,0)); */
    border-bottom: 4px solid #c3c3c3;
    border-top: 4px solid #c3c3c3;
    padding: 15rem 0; }
    .experience .column {
      margin-left: 2%; }
    .experience li {
      list-style: none; }
    .experience .title {
      text-align: center;
      font-family: 'PT Sans Narrow', sans-serif;
      position: absolute;
      top: -10rem;
      width: 16rem;
      font-size: 3.25rem;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0; }
    .experience .work {
      position: relative;
      text-align: center;
      font-size: 2.25rem; }
    .experience h4 {
      margin-bottom: 0rem; }
  .contact {
    padding: 15rem; }
    .contact .title {
      text-align: center;
      font-family: 'PT Sans Narrow', sans-serif;
      position: absolute;
      top: -13rem;
      width: 16rem;
      font-size: 3.25rem;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0; }
    .contact .email {
      text-align: center;
      font-size: 2rem; }
    .contact .linkedIn {
      text-align: center; }
  .profileThree {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto; }
  .basketball {
    position: relative;
    background-color: #ff9900;
    width: 5rem;
    height: 5rem;
    border-radius: 30px;
    box-shadow: 0 0 15px #ccc;
    -moz-animation: mymove 3.5s infinite linear;
    -webkit-animation: mymove 3.5s infinite linear; }
    .basketball .strip {
      background-color: #090f0f;
      position: absolute;
      height: 0.5rem;
      width: 5rem;
      top: 2.2rem;
      border-radius: 30px; }
      .basketball .strip.second {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .basketball .strip.third {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg); }
      .basketball .strip.four {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg); } }

/* Larger than tablet */
@media (min-width: 770px) {
  .picture-container img {
    left: auto; } }

/* Larger than desktop */
/* Larger than Desktop HD */
